# set(CMAKE_SYSTEM_NAME Linux)

# set(CMAKE_SYSTEM_PROCESSOR arm)


# Path to your ARM cross-compiler

# set(TOOLCHAIN_PREFIX "/opt/homebrew/Cellar/llvm/19.1.7/bin")

# set(CMAKE_C_COMPILER "${TOOLCHAIN_PREFIX}/clang")

# set(CMAKE_CXX_COMPILER "${TOOLCHAIN_PREFIX}/clang++")


# Search paths for libraries/headers

# set(CMAKE_FIND_ROOT_PATH "${TOOLCHAIN_PREFIX}/sysroot")

# set(CMAKE_FIND_ROOT_PATH_MODE_PROGRAM NEVER)

# set(CMAKE_FIND_ROOT_PATH_MODE_LIBRARY ONLY)

# set(CMAKE_FIND_ROOT_PATH_MODE_INCLUDE ONLY)
